
CS3242 Assignment 1/.vs/IKFK/v15/.suo
CS3242 Assignment 1/.vs/IKFK/v15/Browse.VC.db
CS3242 Assignment 1/.vs/IKFK/v15/Browse.VC.opendb
CS3242 Assignment 1/.vs/IKFK/v15/ipch/AutoPCH/5e10a922f1c1e6eb/BVH.ipch
CS3242 Assignment 1/.vs/IKFK/v15/.suo
CS3242 Assignment 1/.vs/IKFK/v15/Browse.VC.db
*.pdb
*.idb
CS3242 Assignment 1/.vs/*
CS3242 Assignment 1/Debug/*

*.db
*.icloud
*.ipch
*.log
*.ilk
*.exe
*.obj
CS3242 Assignment 1/.vs/IKFK/v15/.suo
