
CS3242 Assignment 1/.vs/
CS3242 Assignment 1/Debug/


*.pdb
*.idb
*.db
*.icloud
*.ipch
*.log
*.ilk
*.exe
*.obj
*.pdb
*.idb

/CS3242 Assignment 2/.DS_Store
/CS3242 Assignment 2/CS3242 Lab 1.xcodeproj/project.xcworkspace/xcuserdata/bastianmorath.xcuserdatad/UserInterfaceState.xcuserstate
/CS3242 Assignment 2/CS3242 Lab 1.xcodeproj/xcuserdata/bastianmorath.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/CS3242 Assignment 2/Instructions/cs3242 lab 2 copy.pdf
/CS3242 Assignment 2/Instructions/Subdivision(1).pdf
/CS3242 Assignment 2/Instructions/Subdivision.pdf
/CS3242 Assignment 2/Source/mesh_conflict-20190403-192121.cpp
/CS3242 Assignment 2/Source/.vscode/ipch/f5cdcf131bfb04c7/mmap_address.bin
/CS3242 Assignment 2/Source/.vscode/ipch/b1f4caabb830dd47/mmap_address.bin
/CS3242 Assignment 2/Source/.vscode/ipch/368f6c10d180fd43/mmap_address.bin
/CS3242 Assignment 2/Source/.vscode/settings.json
/CS3242 Assignment 2/CS3242 Lab 1.xcodeproj/project.pbxproj
/CS3242 Assignment 2/CS3242 Lab 1.xcodeproj/project.xcworkspace/xcuserdata/bastianmorath.xcuserdatad/UserInterfaceState_conflict-20190408-164837.xcuserstate
